<main class="content underline">
  <div class="col-md-9 col-md-offset-1 wrap">
    <h1 class="oldStandard">About</h1>

    <p>
      On June 6, 2015, I saw a posting somewhere on the Internet advertising a house
      for sale that an artist had used as her canvas for the 35 years in which she called it home.
    </p>

    <p>
      I flipped through several of the pictures on the MLS listing, and randomly sent my realtor a
      text “Do you have time to show me a place on Tyler tomorrow?”<br />
      “For real or for kidding?” she responded.<br />
      “Maybe both,” was my response.
    </p>

    <p>
      I’d lived in the neighborhood for a decade, and I had recently remodeled my own home and
      decided to move back in after a quick attempt at condo living.
    </p>

    <p>
      The next morning, my realtor and I met at the Wolf House, and I immediately fell in love.
      Lauri Svedberg created the most magical abode. The pictures just didn’t do it justice. Every
      inch of the house had been painted, mosaicked, or somehow covered with Lauri’s handiwork.
      Some may see it as chaotic, but I found it to be incredibly grounding, calming even.
    </p>

    <p>
      I went back for a second showing, fighting the crowds of people after the listing went
      viral, and made an offer.
    </p>

    <p>
      Two days later I heard Lauri accepted my offer, I knew that my life was about to change.
      We closed July 1st. And after spending my first night in my new home, I knew that my life was
      headed in a different direction.
    </p>

    <p>
      After only a couple short weeks, I have fallen even more in love with the Wolf House. I have
      found myself staring at the walls, observing lights and shadows, chasing the reflection of a
      car’s headlights move slowly across the painted, bejeweled walls. I’ve experienced what it feels
      like to live in someone else’s work of Art. The house is filled with magic. Bursting.
    </p>

    <p>
      It took me a few weeks to figure out how to best use the space. How to maintain Lauri’s artwork,
      to build off of it, and to nest and make the space my own.
    </p>

    <p>
      At this point, I’ve decided to share the space with others, hosting artists in residency, hosting
      community art events and performances, and renting the space out for creative projects and as a
      cozy Hobbit Honeymoon Bed &amp; Breakfast.
    </p>

  </div>
</main>
