<div class="site-inner">
  <div class="content-sidebar-wrap">
    <main class="content">
      <article class="post-61 page type-page status-publish entry" itemscope itemtype="http://schema.org/CreativeWork">
        <header class="entry-header">
          <h1 class="entry-title" itemprop="headline">Press</h1>
        </header>
        <div class="entry-content" itemprop="text">
          <ul>
            <li>
              <p>
                <a href="http://www.startribune.com/homegazing-artist-unleashed-her-creativity-on-her-northeast-minneapolis-house/306182191/">
                  Star Tribune &#8211; &#8220;Homegazing: Artist unleashed her creativity on her northeast Minneapolis house&#8221;
                </a>
              </p>
            </li>
            <li>
              <p>
                <a href="http://www.dailymail.co.uk/news/article-3115704/The-great-outdoors-indoors-Artist-spends-35-years-using-natural-materials-create-hobbit-house-sale-149-000-price-tag.html">
                  Daily Mail &#8211; &#8220;A real-life hobbit house! Artist spends agonizing 35 years creating her dream home completely fashioned from natural materials&#8221;
                </a>
              </p>
            </li>
            <li>
              <p>
                <a href="http://www.citypages.com/arts/check-out-this-crazy-unique-house-for-sale-in-northeast-minneapolis-7394748">
                  City Pages &#8211; &#8220;Check Out this Crazy-Unique House for Sale in Northeast Minneapolis&#8221;
                </a>
              </p>
            </li>
          </ul>
        </div>
      </article>
    </main>
  </div>
</div>
