.slide-excerpt {
    width: 50%;
}

.slide-excerpt {
    bottom: 0;
}

.slide-excerpt {
    right: 0;
}

.flexslider {
    max-width: 1200px;
    max-height: 800px;
}

.slide-image {
    max-height: 800px;
}

.oldStandard {
  font-family: 'Old Standard TT', serif;
}

.robotoReg {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.robotoLite {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.btn.robotoLite {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.robotoBold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}


.center {
  text-align: center;
}

.underline {
  border-bottom: 1px solid #bbb
}

.wrap {
  padding: 15px 0;
}

.site-title {
  color: #555;
  font-family: 'Old Standard TT', serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
}

.site-description {
  color: #bbb;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.5px;
  margin: 0 10px;
  text-align: center;
  text-transform: uppercase;
}

.menu-item {
  color: #999;
  font-family: 'Old Standart TT', serif;;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
  display: inline-block;
  text-align: left;
  text-decoration: none;
  padding: 18px 0 18px 15px;
}
