<nav class="nav-primary" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <div class="wrap">
        <ul id="menu-main-menu" class="menu genesis-nav-menu menu-primary navList">
            <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34"><a href="/admin/adminEvents">Events</a></li>
            <li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51"><a href="/admin/guestList">Guest List</a></li>
        </ul>
    </div>
</nav>

<!-- calendar view -->
<div class="col-sm-7">
  <h2 class="text-center oldStandard"> {{ aec.calendarTitle }} </h2>

  <div class="row">

    <div class="col-sm-3 text-center">
      <div class="btn-group btn-group-xs">

        <button
          class="btn btn-main robotoLite"
          mwl-date-modifier
          date="aec.viewDate"
          decrement="aec.calendarView">
          Previous
        </button>
        <button
          class="btn btn-alt robotoLite"
          mwl-date-modifier
          date="aec.viewDate"
          set-to-today>
          Today
        </button>
        <button
          class="btn btn-main robotoLite"
          mwl-date-modifier
          date="aec.viewDate"
          increment="aec.calendarView">
          Next
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-sm-4 text-center pull-right">
      <div class="btn-group  btn-group-xs">
        <label class="btn btn-main robotoLite" ng-model="aec.calendarView" uib-btn-radio="'year'">Year</label>
        <label class="btn btn-main robotoLite" ng-model="aec.calendarView" uib-btn-radio="'month'">Month</label>
        <label class="btn btn-main robotoLite" ng-model="aec.calendarView" uib-btn-radio="'week'">Week</label>
        <label class="btn btn-main robotoLite" ng-model="aec.calendarView" uib-btn-radio="'day'">Day</label>
      </div>
    </div>

  </div>

  <br>

  <mwl-calendar
    events="aec.events.events"
    view="aec.calendarView"
    view-title="aec.calendarTitle"
    view-date="aec.viewDate"
    on-event-click="aec.editEventClicked(calendarEvent)"
    on-event-times-changed="aec.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    cell-is-open="aec.isCellOpen"
    day-view-start="06:00"
    day-view-end="22:59"
    day-view-split="30"
    cell-modifier="aec.modifyCell(calendarCell)">
  </mwl-calendar>
</div>

<!-- upcoming events view -->
<div class="col-sm-5">
  <h2 class="text-center oldStandard">Upcoming Events</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-sm-4">Date and Time</th>
            <th class="col-sm-6">Event Name</th>
            <th class="col-sm-2">Remove</th>
          </tr>
        </thead>
        <tbody ng-repeat="event in aec.events.events | orderBy : 'startsAt' track by $index">
          <tr>
            <td ng-click="aec.editEventClicked(event)"><p class="table-info">{{event.startsAt | date: 'short'}}</p></td>
            <td ng-click="aec.editEventClicked(event)"><p class="table-info">{{event.title}}</p></td>
            <td class="center">
              <span class="glyphicon glyphicon-remove text-danger" ng-click="aec.deleteEvent(event._id)"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>
  <button type="button" class="btn btn-main col-sm-6 col-sm-offset-3" ng-click="aec.addEventClicked()">Add Event</button>
</div>
