<nav class="nav-primary" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <div class="wrap">
        <ul id="menu-main-menu" class="menu genesis-nav-menu menu-primary navList">
            <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34"><a href="/admin/adminEvents">Events</a></li>
            <li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51"><a href="/admin/guestList">Guest List</a></li>
            <li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131"><a href="/admin/adminGallery">Gallery</a></li>
            <li id="menu-item-57" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-57"><a href="#">Public Site</a></li>
        </ul>
    </div>
</nav>
<h1>The gallery will go here!</h1>
