<div class="container-fluid modal-view">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{aemc.title}}</h3>
    </div>
    <div class="panel-body">
      <form>
      <div class="col-md-12 form-group">
        <input type="text" class="form-control" ng-model="aemc.title" placeholder="Event Title">
      </div>
      <div class="col-md-12 form-group">
        <textarea
          class="form-control"
          rows="5"
          ng-model="aemc.description"
          placeholder="Event Description">
        </textarea>
      </div>
      <div class="form-group">
        <div class="col-md-6">
          <p class="input-group">
            <input type="text"
              class="form-control"
              uib-datepicker-popup="shortDate"
              ng-model="aemc.startsAt"
              is-open="aemc.popup1.opened"
              datepicker-options="aemc.dateOptions"
              ng-required="true"
              close-text="Close"
              alt-input-formats="aemc.altInputFormats"
              placeholder="Start Date" />
            <span class="input-group-btn">
              <button type="button"
                class="btn btn-default"
                ng-click="aemc.open1()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </div>
        <div class="col-md-6">
          <p class="input-group">
            <input type="text"
              class="form-control"
              uib-datepicker-popup="shortDate"
              ng-model="aemc.endsAt"
              is-open="aemc.popup2.opened"
              datepicker-options="aemc.dateOptions"
              ng-required="true"
              close-text="Close"
              alt-input-formats="aemc.altInputFormats"
              placeholder="End Date" />
            <span class="input-group-btn">
              <button type="button"
                class="btn btn-default"
                ng-click="aemc.open2()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </div>
        <div
          uib-timepicker
          ng-model="aemc.startsAt"
          hour-step="1"
          minute-step="15"
          mousewheel="false"
          show-spinners="false"
          class="col-md-6">
        </div>
        <div
          uib-timepicker
          ng-model="aemc.endsAt"
          hour-step="1"
          minute-step="15"
          mousewheel="false"
          show-spinners="false"
          class="col-md-6">
        </div>
        <div class="col-md-12 form-group">
          <input type="text" class="form-control" ng-model="aemc.tixLink" placeholder="Tickets Sales Link">
        </div>

        <!-- <div class="col-md-12 checkbox">
          <h3 class="panel-title">Publish Event To:</h3><br />
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="aemc.pubToBella" /> Bella Luna Studios
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="aemc.pubToFacebook" /> Facebook
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="aemc.pubToAnnette" /> www.annetteschiebout.com
        </label>
        </div> -->

        <div class="col-md-12 form-group">
          <select required class="form-control squarecorners" ng-model="aemc.eventType">
            <option value="" disabled selected hidden class="placeholder">Please Choose Event Type...</option>
            <option value="public">Public Event</option>
            <option value="private">Private Event</option>
            <option value="artInRes">Artist in Residence</option>
          </select>
        </div>
        <div class="center">
          <button class="btn btn-main" ng-click="$close(aemc.createAdminEvent())">Add New Event</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
